
#Header {
    border-radius: 5px;
    background-color: rgb(2, 64, 92);
    color: white;
         /* padding: 20px; */
    height: 150px;
    /* border: 1px solid; */
    

}
#Header{
    grid-area: header;
}
#grid-container{
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    display: inline-grid;
    grid-template-areas: "header header header header" "nav main main main";

}

p{
    font-size: medium;
    color: black;
}

#icons{
    width: 20px;
    height: 20px;
}

#Side-Bar{
    grid-area: nav;

}
.Side-Bar {
    /* margin: 10px 0 0 10px; */
    background-color: #caebf1;
    width: 20%;
    height:100%;
    
    
}

#Main-Content{
    grid-area: main;
}
.Main-Content{
    margin: 10px;
    background-color: rgb(223, 243, 252);
    color: rgb(2, 64, 92);
    /* padding: 10px; */
    width: 75%;
    height: 100%;
    grid-area: main;    

}

.Side-Bar .Contact #Photo {
    margin-top: 10px;
    /* padding: 10px; */
    /* position:relative; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    


}
