.header {
    border-radius: 5px;
    background-color: rgb(2, 64, 92);
    color: white;
    padding: 30px;
    height: 130px;
    /* border: 1px solid; */
    grid-area: header;

}

.flex-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    border-width: 2px;
    padding: 1px;
    border-style: solid;
    width: 500px;
}

.flex-container,
h1,
h3 {
    text-align: center;
}

p {
    font-size: 18px;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

#icons {
    width: 20px;
    height: 20px;
}

.Side-Bar {
    margin: 10px 0 0 10px;
    grid-area: nav;
    background-color: #caebf1;
    height: 100%;
    width: 240px;
    padding: 10px;
    position: absolute;

}

.Main-Content {
    margin: 10px 0 0 300px;
    background-color: rgb(223, 243, 252);
    color: rgb(2, 64, 92);
    padding: 10px;
    grid-area: main;
    position: relative;

}

#grid-container {
    display: grid;
    padding: 10px;
    grid-column-gap: 20px;
    /* display: inline-grid; */
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: 'header header header header header header'
        'nav main main main main main';


}

.Side-Bar .Contact #Photo {
    margin-top: 10px;
    /* padding: 10px; */
    /* position:relative; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.Contact {
    padding: 5px;
}

#Photo {
    position: relative;
    left: 35px;
}
